
<div class="navbar">
  <nav>
    <ul>
      <li> <%= link_to root_path do %>
        <%= image_tag "atable-logo-white.svg", class: "home-logo", alt:"home" %>
      <% end %>

      <li> <%= link_to root_path do %>
        <%= image_tag "atable-icon-set.svg", class: "navbar-icon", alt:"set" %>
      <% end %>

      <li> <%= link_to root_path do %>
        <%= image_tag "atable-icon-plate.svg", class: "navbar-icon", alt:"plates" %>
      <% end %>

      <li> <%= link_to root_path do %>
        <%= image_tag "atable-icon-fork.svg", class: "navbar-icon", alt:"forks" %>
      <% end %>

      <li>
      <%= link_to root_path do %>
        <%= image_tag "atable-icon-glass.svg", class: "navbar-icon", alt:"glasses" %>
      <% end %>
      </ul>

  </nav>
      <div class="signin">

      <%= link_to root_path do %>
        <%= image_tag "atable-icon-upload.svg", class: "upload-icon", alt:"upload" %>
      <% end %>

      <%= link_to "Sign in", root_path, class: "sign-in" %>
      </div>

</div>
