<div class="body">
  <div class="row">
      <div class="col-8">
        <div class="user-card">
          <h1><%= @product.name %></h1>
        </div>
        <div class="user-card">
          <p>Description : <%= @product.description %></p>
          <p>Price : <%= @product.price %></p>
          <p>Quantity available : <%= @product.quantity %></p>
          <p>Owner of product : <%= @product.user_id %></p>
          <p><%= @product.name %> is currently <%= @product.is_booked ? "booked" : "not booked" %></p>
        </div>
        <div class="list-group">
          <h3>Reviews on <%=@product.name%></h3>
            <% @product.reviews.each do |review| %>
                <li class="list-review">
                  <small>
                    <% count = 0 %>
                    <% 5.times do %>
                      <% if review.rating > count %>
                        <i class="fas fa-star star-yellow"></i>
                      <% else %>
                        <i class="far fa-star"></i>
                      <% end %>
                      <% count += 1 %>
                    <% end %>
                  </small>
                  <p><%= review.comment %></p>
                </li>
            <% end %>
        </div>
        <div class="card-buttons">
            <%= link_to "Update", edit_product_path(@product), class: "btn btn-green" %>
            <%= link_to "Book", new_product_booking_path(@product), class: "btn btn-green" %>
            <%= link_to "Leave a review", new_product_review_path(@product), class: "btn btn-green" %>
            <%= link_to "Delete", product_path(@product), method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-green" %>
        </div>
      </div>
</div>
